body {
    margin: 0 auto;
    color: rgb(133, 146, 158);
    font-family: 'Arial', Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    margin: 0 auto;
    position: relative;
}

nav {
    position: relative;
    margin-left: 900px;
    bottom: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(133, 146, 158);
    margin: 10px;
}

a:hover {
    color: #9F2B68;
}

.wrapper {
    width: 100%;
    background-color: lightgray;
    height: 700px;
}

h1, h2 {
    font-family: 'Georgia', sans-serif;
}

h1 {
    color: white;
    width: 26%;
    background-color: #CF9FFF;
    margin-left: 17%;
    position: relative;
    top: 40px;
    padding: 20px;
}

h2 {
    color: #CF9FFF;
    padding-top: 20px;
    margin-left: 10px;
}
 main {
    background-color: rgb(133, 146, 158);
    border-color: #dddddd;
    width: 960px;
    margin: 0 auto;
    height: 525px;
 }

 p {
    margin: 20px;
    color:#cccccc;
    font-size: 20px;
 }

 .profile {
    float: left;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
 }

 form {
    margin: 25px;
    padding-left: 30px;
 }
 .form-input {
    width: 800px;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 175%;
 }
 textarea{
    height: 150px;
    width: 90%;
 }
 .submitbtn {
    background-color: #CF9FFF;
    border: none;
    color: #dddddd;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }
 
 #portfolio {
    background-color: rgb(133, 146, 158);
   
 }

 #flex {
    display: flex;
    flex-wrap: wrap;
 }

 .portfolio-container {
    width: 1000px;
    margin: 30px 115px;
    height: 800px;
    align-content: center;
 }

 .img1 {
   height: 400px;
   width: 440px;
   padding-top: 20px;
 }

 
 .img {
  height: 300px;
  width: 300px;
  padding-top: 20px;
  z-index: 0;
 }

 .box {
    display: grid;
    grid-template-columns: 500px;
    gap: 10px 2em;
 }

 /* fade images when hovered over */
.box:hover  {
    opacity: 0.7;
 }

 footer {
   padding: 20px;
   text-align: center;
   clear: both;
   position: sticky;
   bottom: 0;
   z-index: 2;
 }

 
 